.users-update-avatar {
    object-fit: cover;
    width: 290px;
    height: 290px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 1px black;
    margin-bottom: 20px;
}

.users-form-update-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 1rem;
    position: relative;
    align-items: center;
}

.users-update-container-profil {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.users-update-container-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-update-bio, .users-update-username {
    margin-bottom: 40px
}

@media only screen and (min-width: 320px) and (max-width:640px) {

    .users-update-avatar {
        width: 180px;
        height: 180px;
        margin-bottom: 10px;
    }

    .users-update-container-profil {
        margin-bottom: 20px;
    }

    .users-form-update-container {
        padding: 0;
    }

    input[type="text"], input[type="password"], button, textarea {
        width: auto;
        font-size: 0.80em;
    }

    .users-update-bio, .users-update-username {
        margin-bottom: 20px;
    }

}

@media only screen and (min-width:641px) and (max-width:768px) {

    .users-update-avatar {
        object-fit: cover;
        width: 230px;
        height: 230px;
        border-radius: 40px;
        box-shadow: 0px 0px 10px 1px black;
        margin-bottom: 20px;
    }   

}

