.post-update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-update-form {   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    position: relative;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: inset 0px 0px 10px 0px black;
}

.post-update-container-attachment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-update-title, .post-update-content{
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    width: 80%;
}

@media only screen and (min-width: 320px) and (max-width:500px) {

    input {
        font-size: 0.6rem;
    }

    .post-update-form {
        padding: 10px;
        margin-bottom: 10px;
    }

    .post-update-title, .post-update-content {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

@media only screen and (min-width: 501px) and (max-width:1023px) {

    input {
        width: 80%;
        font-size: 0.8em;
    }

}