.head-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: black;
    position: relative;
    align-items: center;
}

.logo-groupomania {
    width: 275px;
}

@media only screen and (min-width: 320px) and (max-width:500px){

    .head-container {
        height: 40px;
        justify-content: flex-start;
    }

    .logo-groupomania{
        margin-left: 20px;
        width: 150px;
        height: fit-content;
    }
}

@media only screen and (min-width:501px) and (max-width:1023px) {

    .head-container {
        height: 60px;
    }

    .logo-groupomania{
        margin-left: 0;
        width: 280px;
        height: fit-content;
    }

}