.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    position: absolute;
    bottom: 0;
    height: 80px;
}

.footer-p {
    display: flex;
    color: #FFD7D7;
    font-size: 1.13em;
    width: 500px;
    align-items: center;
    justify-content: center;
}