@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.container-connexion {
  width: 30%;
  border-radius: 20px;
  margin: 100px 0;
  box-shadow: 0px 0px 20px 0px black;
  padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    position: relative;
    align-items: center;
}

a, a:visited {
    color: #FFD7D7;
    background-color: black;
    text-decoration: none;
}

span {
  background-color: black;
  padding: 6px;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  padding: 5px;
  border-radius: 10px;
  border: none;
  color: black;
  min-width: 200px;
  box-shadow: inset 0px 0px 5px 1px black;
  outline: none;
  text-align: center;
  width: 100%;
}

::placeholder{

  color: #FFD7D7;
}

.SignInButton , .SignUpButton{
  margin-top: 1rem;
  padding: 0.6rem;
  background-color: black;
  box-shadow: 0px 0px 5px 0px black;
  color: #FFD7D7;
}

label {
    border-bottom: 2px solid black;
}

.SignInForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-logo{
  opacity: 25%;
  position: absolute;
  z-index: -1;
  left: -300px;
  top: -300px;
  width: 1000px;
}

.container {     
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo-allpage {
    width: 40px;
}

@media only screen and (min-width: 320px) and (max-width:640px) {

  .img-logo {
    left: -240px;
    top: -200px;
    width: 500px;
  }

  .container-connexion {
    width: 60%;
}

  input[type="text"],
  input[type="password"],
  button,
  textarea {        
    min-width: 0;
    width: auto;
    padding: 0.1rem 1rem;
    font-size: 0.8em;
  } 

  .SignInButton , .SignUpButton{
    font-size: 0.6em;
    padding: 0.3rem;
  }

  span {
    padding: 0;
    border: none;
  }

  .logo-allpage{
    width: 25px;
  }

}


@media only screen and (min-width:641px) and (max-width:768px) {

  .img-logo {
    left: -300px;
    top: -250px;
    width: 700px;
}

input[type="text"],
input[type="password"],
button,
textarea {        
  min-width: 0;
  width: auto;
  padding: 0.1rem 1rem;
  font-size: 0.8em;
} 

.container-connexion {
  width: auto;
}

.SignInButton , .SignUpButton{
  font-size: 0.6em;
  padding: 0.2rem;
}

span {
  padding: 0;
}

.logo-allpage{
  width: 30px;
}

}