@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


section {
  width: 400px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 100px 0;
  box-shadow: 4px 4px 20px 2px black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 1rem;
    position: relative;
}

a, a:visited {
    color: #FFD7D7;
    background-color: black;
    text-decoration: none;
}

span {
  background-color: black;
  padding: 6px;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  min-width: 200px;
  box-shadow: inset 0px 0px 5px 0px black;
  outline: none;
  text-align: center;
}

::placeholder{

  color: #FFD7D7;
}

.SignInButton , .SignUpButton{
  margin-top: 1rem;
  padding: 0.6rem;
  background-color: black;
  box-shadow: 0px 0px 5px 0px black;
  color: #FFD7D7;
}

label {
    border-bottom: 2px solid black;
}

.SignInForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-logo{
  opacity: 25%;
  left: -550px;
  position: absolute;
  z-index: -1;
  top: -350px;
  width: auto;
}

.container {     
  position: relative;
  display: flex;
  width: 40%;
  justify-content: center;
}

.logo-allpage {
    width: 40px;
}