.container-thread {
    position: relative;
    width: 40%;
    font-size: 1em;
}

h1 , h2 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
}

.img-logo-thread {
    opacity: 25%;
    left: -700px;
    position: absolute;
    z-index: -1;
    top: -500px;
    width: auto;
}